/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary: #ff6900;
    --tag-discount: #ff0000;
    --tag-sustainability: #008000;
    --dark: #1a1a1a;
    --white: #ffffff;
}

a{
    color: var(--white);
}

header{
    font-weight: bold;
}
/* #endregion common */

/* #region utility */
.container{
    width: 72%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(((100% - 2rem) /  12) * 4);
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.justify-space{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.mr-1{
    margin-right: 0.5rem;
}

.bold{
    font-weight: bold;
}

.white{
    color: var(--white);
}
/* #endregion utility */

/* #region header*/
#header{
    background: var(--primary);
    color: var(--white);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo{
    height: 30px;
}

.links li a{
    padding-right: 0.5rem;
}

.icons li a{
    padding-left: 0.5rem;
}

/* #endregion header*/

/* #region main*/
#main{
    padding-top: 8rem;
}

.cards{
    gap: 1rem;
    margin-bottom: 3rem;
}

.image{
    position: relative;
    z-index: 0;
}

.image img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.image-a{
    display: block;
}

.image-b{
    display: none;
}

.image:hover{
    & .image-a{
        display: none;
    }
    & .image-b{
        display: block;
    }
}

.heart{
    width: 50px;
    aspect-ratio: 1 / 1;
    background: var(--white);
    position: absolute;
    right: 0;
    top: 10px;
    color: var(--dark);
}

.heart:hover{
    color: var(--tag-discount);
}

.tags{
    position: absolute;
    left: 0;
    bottom: 40px;
}

.tags div{
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
    margin-right: 0.2rem;
}

.discount{
    background: var(--tag-discount);
}

.sustainability{
    background: var(--tag-sustainability);   
}

.text{
    padding: 0.25rem 0;
}

.brand{
    font-size: 0.8rem;
}

.description{
    font-size: 1rem;
}

.price{
    font-size: 0.8rem;
}

.new-price{
    color: var(--tag-discount);
    margin-right: 0.5rem;
}

.old-price{
    text-decoration: line-through;
}
/* #endregion main*/

/* #region footer*/
#footer{
    background: var(--dark);
    color: var(--white);
    padding: 2rem 0;
}

#footer .row{
    padding-bottom: 0.5rem;
}

.privacy a{
    font-size: 0.8rem;
    padding-right: 0.5rem;
}

.socials a{
    font-size: 1.2rem;
    padding-left: 0.5rem;
}
/* #endregion footer*/

/* #region debug */
.debug #header{
    height: 80px;
}

.debug #header .container{
    border: 1px solid red;
    height: 100%;
}

.debug #main .row{
    background: lightgray;
}

.debug #main .row .card{
    background: lightyellow;
}

.debug #main .row .card .image{
    height: 645px;
    background: lightyellow;
}

.debug #main .row .card .text{
    height: 60px;
    background: yellow;
}

.debug #footer{
    height: 110px;
}

.debug #footer .container{
    border: 1px solid red;
    height: 100%;
}
/* #endregion debug */